body {
    width: 100%;
    background-color: pink;
    padding: 0px;
    margin: 0px;
    font-family: DejaVu Sans Mono, monospace;
    overflow-x: hidden;
}
.title{
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
}

#header{
    width: 100%;
    height:100px; 
    background-color: blueviolet;
    display: inline-block;
    padding: 0px;
    margin: 0px;  
}
#main{
    width: 100%;
    height: inherit;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    height: inherit;
    background-color: aqua;
    padding: 5px;
    margin: 0px;
    font-size: 30px;
}
.container ul li {
    list-style-type: none;
    border-bottom: thin solid black;
    padding: 0px;
    margin: 0px;
    height: inherit;
}
#addform {
    width: 60%;
    height: inherit;
    border-style: solid;
    border-width: thin;
    border-color: black;
    object-position: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: darkseagreen;
    border-radius: 10px;
    font-size: 30px;
    
}
input[type=number],[type=date] {
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 30px;

}
input[type=number],[type=date]:focus {
    border: 3px solid #555;
}
select{
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 30px;
}
select:focus {
    border: 3px solid #555;
}
#add{
    width: 40%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 30px;
    
}
#bg {
    background-color: cornflowerblue;
    width: 100%;
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;    
    
}
ul button{
    width: 15%;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #555;
    outline: none;
    border-radius: 5px;
    font-family: DejaVu Sans Mono, monospace;
    position: relative;
    left: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}
ul p{
    position: relative;
    top: -50px;
    right: -40%;
}

