body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    align-content: center;
}

header{
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: orange 3px solid;
}


#memo{
    text-align: center;
}


#title h1{
    margin: 0;
    padding: 0;
}

#border{
    padding: 15px;
    background: #35424a;
}

section{
    background: #35424a;
    border-bottom: orange 3px solid;
}

#add-dues{
   background: white;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
#dues{
   background: white;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

button{
    text-transform: uppercase;
    height: 50px;
    width: 95%;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

input{
    width: 50%;
    height: 30px;
}
button:hover{
    border: 3px orange solid;
    background-color: gray;
}
select{
    height: 30px;
}
label{
    color: orange;
/*    text-align: left;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    text-transform: uppercase;
    
}

.box{
    float: left;
    width: 45%;

    border: 3px black solid;
    margin: 2px;
}

footer{
    background: orange;
    text-align: center;
    color: white;
    height: 50px;
    padding: 10px;
    vertical-align: bottom;
}

@media(max-width: 768px){
    header #title, nav, nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    button{
        display: block;
        width:94%;
    }
    .box{
        align-content: center;
        float: none;
        width: 97%;
        margin: 1px;
    }
/*
    .container form{
        width: 90%;   
    }
    
*/
    input{
    width: 98%;
    }
}















